// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
	padding: 5em 0;
	}
	h1 {
	font-size: 5em;
}

.media {
	text-align: center;
	/*border: 1px solid green;*/

	.media-pic {
		box-shadow: 0px 0px 20px 1px #c9c9c9;
		border-radius: 4px;
		padding-top: 4em;
		height: 35em;
		width: 50%;
		margin: 0 auto;
		background-color: #f0f0f0;
	}
}

.media-object {
	width: 100%;
	max-width: 500px;
}

.form {
		box-shadow: 0px 0px 20px 1px #c9c9c9;
		border-radius: 4px;
		padding-top: 4em;
		height: 20em;
		width: 50%;
		background-color: #f0f0f0;

		.form-group {
			font-size: 1.5em;
			padding: 1em 3em;
		}
}