<div class="navbar-header">
	<ul class="nav">
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Upload New Image', new_photo_path %></li>
	</ul>
	<div class="navbar-brand">
	<h1>SneakPic</h1>
	</div>
</div>
</div>